/* ALL COLORS START */

$theme-colors: (
  "primary": #00FCFE,
  "secondary": #f58b1f,
  "dark": #000000,
  "light": #f6f8f9,
);

$primary: #00FCFE;
$green-dark: #0a1b06;
$green-dark-two: #081308;
$secondary: #f58b1f;
$primary-dark: #d02604;
$black: #000;
$white: #fff;
$grey: rgba(18, 17, 39, 0.56);
$title-color: #363636;
$paragraph-color: #545454;

/* ALL COLORS END */

/* ALL FONTS START */
$font-primary: 'Philosopher', sans-serif;
$font-secondary: 'Inter', sans-serif;

/* ALL COLORS END */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "base/mixins";
@import "base/custom-base";
@import "base/header";
@import "base/footer";
@import "base/base";
@import "components/cards";
@import "pages/index";
@import "pages/about";
@import "pages/contact";
@import "pages/detail";
@import "pages/contact";
@import "components/buttons";
@import "components/slider";
@import "components/banner";