.btn {
  font-family: $font-primary;
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
  border-radius: 68px;
  @include transition();

  &.primary {
    color: white;
    border: 2px solid #fec437;
    background: linear-gradient(85deg, #f50103 22.98%, #fec437 100%);

    &:hover {
      background: $primary;
    }
  }

  &.white {
    color: $primary;
    border: 2px solid #fec437;
    background: white;
    &:hover {
      color: $white;
      background: linear-gradient(85deg, #f50103 22.98%, #fec437 100%);
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}
