.game-card-wrapper {
  border-radius: 4px;
  padding: 0.375rem;
  margin-bottom: 3.5rem;
  background: linear-gradient(
    85deg,
    #fec437 0.94%,
    #e05e4d 13.96%,
    #fec437 25.42%,
    #e05e4d 37.92%,
    #fec437 50.94%,
    #e05e4d 62.92%,
    #fec437 75.42%,
    #e05e4d 87.92%,
    #fec437 100%
  );
  &:hover {
    .text-content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $primary !important;
        text-decoration: underline;
      }
    }
  }
  .game-card {
    display: block;
    position: relative;
    .img-wrapper {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
    .text-content {
      @include positionMiddle;
      display: flex;
      margin: auto;
      top: 99%;
      width: 80%;
      border-radius: 4px;
      background: linear-gradient(
        85deg,
        #fec437 0.94%,
        #e05e4d 13.96%,
        #fec437 25.42%,
        #e05e4d 37.92%,
        #fec437 50.94%,
        #e05e4d 62.92%,
        #fec437 75.42%,
        #e05e4d 87.92%,
        #fec437 100%
      );
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #363636;
        text-align: center;
        font-family: $font-primary;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 23.4px;
        margin: 0;
        background: $white;
        margin: 5px;
        width: 100%;
        padding: 1rem 0.625rem;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
