.section-heading {
  display: flex;

  &.text-white {

    h2,
    p,
    a {
      color: $white;
    }
  }

  h2 {
    flex: 1;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .text-content {
    flex: 2;

    display: flex;
    align-items: center;


    p {
      border-left: 4px solid $white;
      padding: 2px 1rem;
      margin-left: 2rem;
    }
  }

  @media (max-width:767.98px) {
    display: block;

    .text-content {
      p {
        padding-left: 0;
        margin-left: 0;
        border: none;
      }
    }
  }
}

hr {
  background-color: $white;
}

.general-text-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li {
    color: $white;
  }

  ol,
  ul {
    padding-left: 2rem;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: .5rem;
      position: relative;
      padding-left: 2rem;

      &::before {
        content: "";
        position: absolute;
        height: 24px;
        width: 24px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12L9.5 17.5L20 7' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.border-1 {
  border: 1px solid white;
}

.scroller {
  position: absolute;
  bottom: 1rem;
  z-index: 1111;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  font-size: 1rem;
  font-weight: bold;
  @extend .position-centered;
  flex-direction: column;

  @media (max-width:767.98px) {
    display: none !important;
  }

  svg {
    margin-bottom: .5rem;
  }

  &:hover {
    cursor: pointer;
    color: $white !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* Start with full transparency */
  }

  to {
    opacity: 1;
    /* End with full visibility */
  }
}

/* Apply the animation to an element */
.fade-in {
  animation: fadeIn 3s ease-in-out infinite;
  /* Animation name, duration, and timing function */
}

.form-group {
  margin-bottom: 1.5rem;

  .form-control {
    width: 100%;
    border-radius: 0 !important;
    background-color: transparent;
    border: 1px solid white !important;
    color: $white;
    padding: 1rem;

    &::placeholder {
      color: $white;
    }
  }


}

.contact-section {
  input[type='submit'] {
    padding-bottom: 1rem !important;
  }
}

.pagination {
  justify-content: center;

  span,
  a {
    color: $white;
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid $white;
    @extend .position-centered;
    font-family: $font-primary;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}