.form-group {
  margin-bottom: 1.5rem;

  label {
    font-family: $font-primary;
    margin-bottom: 0.75rem;
    font-size: 1rem;

    span {
      color: $primary;
    }
  }

  .input-group {
    .form-control {
      height: 3.5rem;
      border: 2px solid $primary;
      border-radius: 0;
    }

    textarea {
      min-height: 200px;
    }

    .select2-container {
      width: 100% !important;
      min-width: unset !important;

      .select2-selection--single {
        height: 3.5rem;
        border: 2px solid $primary;
        border-radius: 0;
        display: flex;
        align-items: center;

        .select2-selection__arrow {
          height: 3.5rem;
        }
      }
    }
  }
}

.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 111;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 200px;
  }
}

.general-text-content {
  p {
    font-size: 1.25rem;
  }

  ul,
  ol {
    padding-left: 1rem;

    li {
      margin-bottom: 8px;
      font-size: 1.25rem;
    }
  }
}

.wp-chatbot-header {
  background: $primary !important;
}

.select2-container--open {
  z-index: 111111;
}

.select2-results__option--highlighted[aria-selected] {
  background-color: $primary !important;
}

.background-light {
  background: #f2f2f2;
}

.lined-title {
  text-align: center;
  position: relative;

  span {
    background-color: white !important;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 11;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px dashed $primary;
    height: 2px;
    transform: translateY(-50%);
    z-index: -1;
  }

  &.bg-light {
    background-color: #f2f2f2 !important;

    span {
      background-color: #f2f2f2 !important;
    }
  }


}

// playButton
#playButton {
  position: relative;

  &:hover {
    &::before {
      height: 4.0625rem;
      width: 3.125rem;
    }
  }

  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='50' viewBox='0 0 38 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.033 4.46552C20.9818 4.42735 20.9818 4.42735 21.033 4.46552V4.46552Z' fill='url(%23paint0_linear_57_398)'/%3E%3Cpath d='M34.1209 21.641C33.6778 21.4247 33.1751 21.2211 32.6127 21.0303C29.443 19.9425 24.4838 19.2364 18.9112 19.2364C13.3385 19.2364 8.37938 19.9425 5.18406 21.0494C4.65577 21.2275 4.1786 21.4183 3.75255 21.6219C1.55417 16.8891 6.33438 14.4273 8.53276 9.96172C9.06958 8.87395 9.55526 7.23275 8.9162 6.16405C10.6033 7.95793 11.6258 9.77088 11.6003 11.8701C11.8048 8.58769 15.3324 5.1717 14.3866 1.83204C14.1565 1.08778 13.8242 0.515262 13.1596 0C16.6105 2.36639 21.2374 6.83199 21.493 10.1907C22.3877 8.26327 23.2568 6.37398 22.0042 4.5801C24.9184 6.29764 25.5574 7.57625 26.401 10.8777C26.7844 8.83578 28.4971 7.25183 30.9 6.45031C25.5063 9.38921 37.5463 14.4846 34.1209 21.641Z' fill='url(%23paint1_linear_57_398)'/%3E%3Cpath d='M32.6124 21.0302C31.7177 20.7249 30.6952 20.4577 29.5449 20.2096C26.6052 19.5989 22.9242 19.2364 18.9108 19.2364C15.4599 19.2364 12.239 19.5226 9.55492 19.9806C7.86779 20.2669 6.41072 20.6295 5.18371 21.0493C3.90558 18.7402 5.92503 14.5418 7.25428 13.0532C8.02116 12.2135 8.96698 11.4311 9.78498 10.5914C9.55492 12.1181 10.7308 14.6181 12.6224 15.4387C10.9609 12.2708 15.3576 9.33188 15.4854 6.2594C17.1214 9.29372 21.825 10.5723 22.9241 14.0265C23.9466 13.0723 23.8955 11.5647 23.5888 10.4197C24.8925 11.9845 26.4007 13.1486 28.0622 14.4082C28.1389 13.2822 28.4201 11.7746 27.9344 10.8968C31.3342 13.6639 33.8905 17.9387 32.6124 21.0302Z' fill='url(%23paint2_linear_57_398)'/%3E%3Cpath style='mix-blend-mode:screen' d='M29.1105 18.9692C26.1709 18.3585 22.4898 17.9959 18.5021 17.9959C15.0511 17.9959 11.8302 18.2631 9.1206 18.7402C8.0981 17.0608 8.27704 14.3891 8.66048 13.1868C8.99279 15.2478 11.9069 16.66 14.5143 16.9272C12.0347 14.3127 15.2301 11.0685 16.2014 8.54944C18.3231 10.9349 21.0839 12.6906 22.6432 15.3814C23.6657 14.6753 23.9469 13.5112 24.0236 12.4807C25.2506 13.4158 26.5543 14.8662 27.1167 16.1066C28.4715 15.5341 29.315 14.2936 29.1872 13.1105C30.6954 15.7249 30.4654 17.6333 29.1105 18.9692Z' fill='url(%23paint3_linear_57_398)'/%3E%3Cpath d='M27.7045 7.38537C30.2863 5.2289 30.1074 2.44267 27.0143 1.22131C28.0879 3.39686 23.9979 5.01898 27.7045 7.38537Z' fill='url(%23paint4_linear_57_398)'/%3E%3Cpath d='M27.6789 7.25182C25.9662 5.9732 27.7811 3.24423 27.8578 2.40454C29.4171 3.03431 29.8261 5.45794 27.6789 7.25182Z' fill='url(%23paint5_linear_57_398)'/%3E%3Cpath style='mix-blend-mode:screen' d='M27.6533 7.21364C26.912 6.39304 27.2187 5.51519 27.6533 4.6755C27.7811 4.40833 27.9345 3.95032 27.8067 3.54956C28.8547 4.4465 28.8547 5.61061 28.0879 6.58388C27.9345 6.7938 27.7811 7.0228 27.6789 7.25181L27.6533 7.21364Z' fill='url(%23paint6_linear_57_398)'/%3E%3Cpath d='M37.9 30.3738C37.9 40.84 29.4039 49.3361 18.9377 49.3361C8.47149 49.3361 0 40.84 0 30.3738C0 19.9076 8.47149 11.4361 18.9377 11.4361C29.4039 11.4361 37.9 19.9076 37.9 30.3738Z' fill='url(%23paint7_linear_57_398)'/%3E%3Cpath d='M18.8393 47.0212C9.62901 47.0212 2.14258 39.5102 2.14258 30.2999C2.14258 21.0896 9.62901 13.6032 18.8393 13.6032C28.0495 13.6032 35.536 21.0896 35.536 30.2999C35.536 39.5102 28.0495 47.0212 18.8393 47.0212Z' fill='url(%23paint8_radial_57_398)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1597 22.1583L28.3466 30.3492L14.1597 38.54L14.1597 22.1583ZM15.7372 24.8907L15.7372 35.8077L25.1916 30.3492L15.7372 24.8907Z' fill='url(%23paint9_linear_57_398)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_57_398' x1='21.055' y1='4.44052' x2='21.0587' y2='4.47216' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF1F00'/%3E%3Cstop offset='1' stop-color='%23FFEE00'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_57_398' x1='32.2763' y1='6.41424' x2='32.2763' y2='20.2351' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF1F00'/%3E%3Cstop offset='1' stop-color='%23FFEE00'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_57_398' x1='25.8286' y1='2.80448' x2='25.8286' y2='20.1071' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF1F00'/%3E%3Cstop offset='1' stop-color='%23FFEE00'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_57_398' x1='23.7409' y1='7.59659' x2='23.7409' y2='13.9471' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1' stop-color='%23FF8400'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_57_398' x1='37.9096' y1='1.49059' x2='37.9096' y2='7.52277' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF1F00'/%3E%3Cstop offset='1' stop-color='%23FFEE00'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_57_398' x1='37.524' y1='1.28528' x2='37.524' y2='6.41862' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF1F00'/%3E%3Cstop offset='1' stop-color='%23FFEE00'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_57_398' x1='36.5401' y1='4.16654' x2='36.5401' y2='7.03464' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1' stop-color='%23FF8400'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear_57_398' x1='37.8951' y1='15.2857' x2='37.8951' y2='49.772' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFEE00'/%3E%3Cstop offset='1' stop-color='%23FF1F00'/%3E%3C/linearGradient%3E%3CradialGradient id='paint8_radial_57_398' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(18.844 30.3095) scale(16.7041 16.7041)'%3E%3Cstop/%3E%3Cstop offset='1' stop-color='%23630000'/%3E%3C/radialGradient%3E%3ClinearGradient id='paint9_linear_57_398' x1='25.1682' y1='38.2276' x2='10.8269' y2='38.2276' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFEE00'/%3E%3Cstop offset='1' stop-color='%23FF1F00'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.375rem;
    height: 3.125rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


}


// form-wrapper
.form-wrapper {
  padding: 2rem;
  background: $white;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.06);
  position: relative;

  form {
    height: 100%;

    .row {
      height: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #363636;
      font-family: $font-primary;
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 2.5rem;
    }

    label {
      color: #363636;
      font-family: $font-secondary;
      font-size: 0.875rem;
      font-weight: 500;
      margin-bottom: 0.5rem;

      span {
        color: $primary;
        font-family: $font-secondary;
        font-size: 0.625rem;
        font-weight: 500;
      }
    }

    .select-wrapper {
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7L10 12L15 7' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        height: 1.25rem;
        width: 1.25rem;
        position: absolute;
        right: 12px;
        top: 12px;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
      cursor: pointer;
      width: 100%;
    }

    input,
    select {
      border: 1px solid #fbd2d3;
      background: #f0f0f0;
      border-radius: 0;
      padding: 0.625rem 0.75rem;
      outline: none;

      &::placeholder {
        color: #545454;
        font-family: $font-secondary;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 140%;
      }

      &:focus {
        border: 1px solid $secondary;
        outline: none;
      }
    }

    textarea {
      border: 1px solid #fbd2d3;
      background: #f0f0f0;
      border-radius: 0;
      padding: 0.625rem 0.75rem;
      outline: none;
      resize: none;
      height: 4.9375rem;
      margin-bottom: 1.5rem;

      &::placeholder {
        color: #545454;
        font-family: $font-secondary;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 140%;
      }

      &:focus {
        border: 1px solid $secondary;
        outline: none;
      }
    }
  }
}