footer.main-footer {
  .about {
    img {
      margin-bottom: 1.5rem;
    }

    p {
      max-width: 80%;
      margin-bottom: 1.5rem;
    }

    .social-links {
      margin-bottom: 0;
      list-style: none;
      display: flex;

      li {
        a {
          display: block;
          margin-right: 1rem;
          border: 1px solid transparent;
          @include transition();

          &:hover {
            border: 1px solid white;
          }
        }
      }
    }
  }

  .list-item {

    .title,
    a {
      color: $white;
    }

    .title {
      font-weight: bold;
      font-family: $font-primary;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    ul {
      li {
        margin-bottom: .5rem;

        a {
          @include transition();

          svg {
            margin-right: 6px;
          }

          &:hover {
            text-decoration: underline;
            opacity: .8;
          }
        }
      }
    }
  }

  .bottom-footer {
    justify-content: space-between;

    p {
      margin-bottom: 0;

      a {
        color: $white;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}