header.main-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  backdrop-filter: blur(8px);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11111;

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      height: 100%;
      align-items: center;

      li {
        position: relative;
        height: 100%;
        align-items: center;
        display: flex;
        overflow: hidden;

        a {
          font-size: 1.125rem;
          font-family: $font-primary;
          display: block;
          padding: 0 1rem;
          color: white;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $white;
            @include transition();
          }

          &:hover {
            &::before {
              width: 100%;
            }
          }

        }

        &.active {
          a {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .ham-menu,
  .close {
    display: none;
  }

  @media (max-width: 767.98px) {
    .close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .nav-items .wrapper {
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      transform: translateX(100%);
      @include transition();

      &.show {
        transform: unset;
      }

      li {
        height: auto;
        padding: 1rem;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        width: 100%;

        &:first-of-type {
          margin-top: 4rem !important;
        }

        a {
          color: $black;
        }
      }
    }

    .ham-menu {
      display: block;
    }
  }
}