header.main-header {
  padding: 0.75rem 0;
  background-color: #130909;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  transition: 0.3s ease-in-out;
  &.sticky {
    position: sticky;
    top: 0;
    transition: 0.3s ease-in-out;
  }
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      display: flex;
      list-style: none;
      margin-bottom: 0;

      li {
        a {
          font-size: 1.125rem;
          font-family: $font-primary;
          display: block;
          padding: 0 1rem;
          color: white;
          cursor: pointer;
          position: relative;

          &:hover {
            color: $primary;
            &::before {
              content: "";
              background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.464355' y='4' width='5' height='5' transform='rotate(-45 0.464355 4)' fill='%23F50103'/%3E%3C/svg%3E%0A");
              background-repeat: no-repeat;
              background-size: contain;
              height: 0.5rem;
              width: 0.5rem;
              display: block;
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .btn-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.ham-menu,
.close-btn {
  display: none;
}

@media (max-width: 991px) {
  .ham-menu {
    display: block;
  }

  header.main-header {
    .logo-wrapper {
      order: 1;
    }

    .nav-items {
      order: 3;
    }

    .btn-wrapper {
      order: 2;
      display: flex;
      align-items: center;
    }

    .nav-items {
      .close-btn {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      .wrapper {
        position: fixed;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #000;
        z-index: 111;
        padding-top: 5rem;
        transform: translateX(-100%);
        @include transition();

        li {
          padding: 1rem;
          border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
        }

        &.show {
          transform: unset;
        }
      }
    }
  }
}
