//about-page-top-section
.about-page-top-section {
  .clip-images {
    position: absolute;
    &.abt-i1 {
      top: 50%;
    }
  }
  .left-section-wrapper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #363636;
      font-family: $font-primary;
      font-size: 3rem;
      font-weight: 400;
      line-height: 130%;
      margin: 0;
    }
  }
  .right-section-wrapper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary;
      font-family: $font-secondary;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 140%;
      margin-bottom: 1rem;
    }
    p {
      color: #545454;
      font-family: $font-secondary;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 140%;
      margin: 0;
    }
  }
}

//brifing-section-wrapper
.brifing-section-wrapper {
  position: relative;
  overflow: hidden;
  .clip-images {
    position: absolute;
    &.abt-i1 {
      right: 0;
      top: 56px;
    }
    &.abt-i2 {
      left: 0;
      bottom: -6rem;
    }
  }
  .col-lg-7 {
    border-top: 2px dashed $primary;
    padding-top: 3.125rem;
    padding-left: 5.625rem;
  }
  .left-image-section {
    img {
      height: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .right-content-wrapper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #363636;
      font-family: $font-primary;
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    p {
      color: #545454;
      font-family: $font-secondary;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 2rem;
    }
    .inner-list-wrapper {
      border-bottom: 1px solid #ededed;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $primary;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
      p {
        color: #545454;
        font-family: $font-secondary;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 140%;
        margin: 0;
      }
    }
    .increase-stats-wrapper {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #363636;
        font-family: $font-primary;
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0.8125rem;
      }
      p {
        color: #545454;
        font-family: $font-secondary;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 1.5rem;
      }
    }
  }
}
