//contact-page-top-section
.contact-page-top-section {
  p {
    margin-bottom: 0.5rem;
  }
  a {
    color: $primary;
    font-family: $font-primary;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration-line: underline;
  }
}

//contact-form-wrapper
.contact-form-wrapper {
  position: relative;
  z-index: 999;
}
