//contact-section-wrapper
.contact-section-wrapper {
  position: relative;
  overflow: hidden;
  .clip-images {
    position: absolute;
    &.csw-i1 {
      left: 0;
      top: 0.625rem;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &.csw-i2 {
      right: 0;
      top: -1rem;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &.csw-i3 {
      left: 0;
      bottom: 0;
      z-index: -1;
      width: 13.375rem;
      height: 13.8359rem;
    }
  }
  .left-section-wrapper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #363636;
      font-family: $font-primary;
      font-size: 3rem;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 1.5rem;
      span {
        color: $primary;
        font-family: $font-primary;
        font-size: 3rem;
        font-weight: 400;
        line-height: 130%;
      }
    }
    p {
      color: #545454;
      font-family: $font-secondary;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 3.5rem;
    }
    .call-us-section {
      margin-bottom: 3.5rem;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #363636;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
      a {
        color: $primary;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 130%;
        text-decoration-line: underline;
      }
    }
    .social-links-section {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #363636;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      ul {
        list-style-type: none;
        display: flex;
        li {
          margin-right: 1rem;
        }
      }
    }
  }
}
