.detail-content {
    .img-wrapper {
        img {
            position: relative;
            top: -40%;
            height: 23.75rem;
            width: 23.75rem;
            border-radius: 8px;
            border: 4px solid $primary;
            box-shadow: 0px 0px 4.5px 0px #00FCFE;
            padding: 4px;

            @media (max-width:767.98px) {
                top: 0;
            }

        }
    }
}

.count-card {
    text-align: center;
    padding: 2rem 1rem;
    position: relative;

    .title,
    .count {
        color: $white;

    }

    .title {
        font-size: 1.125rem;
        margin-bottom: .5rem;
    }

    .count {
        font-size: 1.5rem;
        font-family: $font-primary;
        color: $primary;
        font-weight: bold;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        height: 4px;

        background-image: url("data:image/svg+xml,%3Csvg width='173' height='6' viewBox='0 0 173 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM172.887 3L170 0.113249L167.113 3L170 5.88675L172.887 3ZM3 3.5L170 3.5V2.5L3 2.5V3.5Z' fill='url(%23paint0_linear_343_2735)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_343_2735' x1='-4.19828' y1='4.00004' x2='178.638' y2='4.00002' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300FCFE'/%3E%3Cstop offset='0.526042' stop-color='%2300FCFE' stop-opacity='0.3'/%3E%3Cstop offset='1' stop-color='%2300FCFE'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
}

.screenshots-wrapper {
    .img-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .item {
            margin-bottom: 1rem;
            border: 1px solid $primary;
            width: 16%;
            border-radius: .6rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            &:nth-child(7) {
                margin-left: 5rem;
            }

            &:nth-child(11) {
                margin-right: 5%;
            }

            &:not(:nth-child(6n)) {
                margin-right: .5rem;
            }

            @media (max-width:991px) {
                width: 40%;
            }

            @media (max-width:991px) {
                width: 100%;
            }
        }
    }
}