//game-detail-top-section
.game-detail-top-section {
  position: relative;

  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='116' height='192' viewBox='0 0 116 192' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M153.006 136.388C153.396 137.902 152.681 139.537 151.417 140.05L82.1229 167.96C80.8588 168.474 79.5238 167.654 79.1341 166.14L50.69 55.1322C50.3004 53.6176 51.0151 51.9837 52.2792 51.4704L121.573 23.5594C122.837 23.0461 124.172 23.8656 124.562 25.3803L153.006 136.388Z' fill='url(%23paint0_linear_57_468)'/%3E%3Cpath d='M152.197 135.976C152.578 137.473 151.877 139.105 150.619 139.611L82.2916 167.333C81.0443 167.845 79.7236 167.035 79.3428 165.537L51.4923 55.5401C51.1115 54.0427 51.8134 52.4106 53.0648 51.9155L121.392 24.1941C122.639 23.6819 123.959 24.4924 124.34 25.9898L152.197 135.976Z' fill='url(%23paint1_linear_57_468)'/%3E%3Cpath d='M105.057 74.3375C99.3672 77.0512 98.9136 85.0853 98.9136 85.0853L98.9281 85.1083C98.9281 85.1083 94.8765 78.9006 88.9919 80.885C83.1074 82.8694 80.2081 90.9997 82.9188 96.8422C85.6296 102.685 93.5387 105.519 98.337 107.704C103.142 109.877 106 113.152 106 113.152L105.996 113.135C105.996 113.135 106.827 108.365 109.741 103.056C112.654 97.7467 117.785 89.6193 117.316 82.8716C116.846 76.124 110.747 71.6238 105.057 74.3375Z' fill='url(%23paint2_linear_57_468)'/%3E%3Cpath d='M106.843 116.182C106.976 116.124 107.081 115.993 107.116 115.836C107.131 115.786 108.202 110.68 111.271 104.84L112.175 103.13C115.875 96.1171 120.489 87.4002 119.359 81.5872C118.613 77.746 116.376 74.3525 113.366 72.4933C110.714 70.8673 107.803 70.625 105.12 71.8978C100.087 74.2635 98.4673 79.0282 97.9908 81.1433C96.6278 79.7789 93.1431 77.0895 87.952 78.8797C85.1974 79.8169 82.9133 82.1706 81.508 85.4365C79.9031 89.1634 79.6451 93.583 80.7879 97.2526C82.5485 102.835 89.9366 106.389 96.4506 109.505L97.8382 110.176C103.005 112.673 106.418 116.087 106.443 116.116C106.574 116.206 106.711 116.239 106.843 116.182ZM88.1242 79.7436C93.8064 77.7909 97.2824 81.5798 97.9174 82.3534C98.0188 82.47 98.1762 82.5154 98.3193 82.4642C98.4688 82.402 98.5702 82.2532 98.6013 82.0794C98.7653 80.9796 99.8592 75.3272 105.378 72.7366C107.828 71.5964 110.526 71.791 112.966 73.2965C115.802 75.0421 117.907 78.2278 118.595 81.8299C119.645 87.2732 115.134 95.8137 111.507 102.677L110.597 104.398C108.12 109.131 106.927 113.313 106.518 114.951C105.382 113.922 102.344 111.34 98.1917 109.332L96.7937 108.654C90.7338 105.752 83.1846 102.136 81.5301 96.8791C80.4409 93.4315 80.6921 89.2883 82.2058 85.7894C83.4334 82.9232 85.3899 80.8397 87.7122 79.8923C87.8553 79.8411 87.9876 79.7837 88.1242 79.7436Z' fill='url(%23paint3_linear_57_468)'/%3E%3Cpath d='M64.925 67.9224C63.7109 68.4984 63.6124 70.2097 63.6124 70.2097C63.6124 70.2097 62.7454 68.8917 61.4942 69.314C60.243 69.7364 59.6268 71.4625 60.2008 72.7022C60.7747 73.9418 62.4568 74.5451 63.4839 75.0115C64.5111 75.4779 65.1191 76.1771 65.1191 76.1771C65.1191 76.1771 65.3037 75.1629 65.9087 74.0342C66.5308 72.9005 67.6132 71.1743 67.5221 69.7381C67.4374 68.2907 66.1455 67.3353 64.925 67.9224Z' fill='url(%23paint4_linear_57_468)'/%3E%3Cpath d='M65.3082 76.816C65.3424 76.806 65.3618 76.773 65.3641 76.7449C65.3641 76.7449 65.5938 75.653 66.253 74.4077L66.4392 74.0421C67.2303 72.5478 68.2073 70.6879 67.9655 69.4604C67.8057 68.6478 67.328 67.9194 66.6836 67.5235C66.1241 67.1758 65.5005 67.1303 64.9341 67.3972C63.8589 67.9051 63.5187 68.9197 63.4151 69.3616C63.1236 69.0632 62.3824 68.4942 61.2784 68.8825C60.6954 69.0812 60.2037 69.5824 59.9065 70.2824C59.5681 71.0768 59.5118 72.0169 59.757 72.8045C60.1354 73.9918 61.6996 74.7486 63.0937 75.409L63.3925 75.5497C64.4916 76.0865 65.2251 76.8128 65.2251 76.8128C65.2463 76.8248 65.2847 76.8321 65.3082 76.816ZM61.324 69.0703C62.5306 68.6519 63.2739 69.4576 63.4152 69.6264C63.4406 69.6556 63.468 69.6567 63.5022 69.6467C63.5363 69.6366 63.5558 69.6036 63.5646 69.5644C63.6005 69.3344 63.8292 68.1239 65.0133 67.5749C65.5391 67.329 66.1075 67.3726 66.6246 67.6962C67.2266 68.0681 67.675 68.7502 67.8225 69.5117C68.0477 70.6709 67.0861 72.4803 66.3144 73.9415L66.1178 74.3012C65.5946 75.3145 65.332 76.1963 65.2526 76.5488C65.0158 76.3257 64.3621 75.7772 63.4816 75.35L63.1824 75.209C61.8902 74.5919 60.2882 73.8283 59.9263 72.7093C59.6934 71.9729 59.7556 71.0948 60.0681 70.3446C60.3241 69.739 60.7451 69.2861 61.2386 69.0954C61.2727 69.0854 61.2963 69.0693 61.324 69.0703Z' fill='url(%23paint5_linear_57_468)'/%3E%3Cpath d='M66.2743 63.6786L66.1811 63.3311C65.9615 63.3682 65.7739 63.3501 65.6232 63.2938C65.4724 63.2375 65.3266 63.1249 65.1958 62.9622C65.065 62.7994 64.8857 62.5501 64.6795 62.2266L59.818 54.6008L58.643 55.1106L58.3192 64.7807C58.3064 65.3332 58.2412 65.7819 58.1365 66.1053C58.0423 66.4348 57.8616 66.6711 57.6219 66.8146L57.7388 67.1459L60.6125 65.9818L60.5128 65.6454C60.2119 65.7247 59.9732 65.7213 59.8012 65.6529C59.6186 65.5785 59.4944 65.4049 59.4007 65.1306C59.357 64.988 59.3262 64.8232 59.2978 64.6303C59.2695 64.4374 59.2718 64.1442 59.2835 63.7383L59.3004 62.938L62.5674 61.5849L63.0976 62.4169C63.2301 62.6248 63.348 62.8098 63.4382 62.9936C63.5242 63.1604 63.5932 63.3322 63.641 63.492C63.6823 63.6627 63.6982 63.8042 63.6652 63.9328C63.6388 64.0503 63.5676 64.1718 63.4817 64.2702C63.3786 64.3737 63.2243 64.4921 63.0123 64.6367L63.1119 64.9733L66.2743 63.6786ZM59.4089 56.5774L62.2331 60.9974L59.2825 62.2207L59.4089 56.5774Z' fill='url(%23paint6_linear_57_468)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_57_468' x1='64.9098' y1='110.634' x2='141.395' y2='91.0404' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CDCCCB'/%3E%3Cstop offset='0.9947' stop-color='%23B6B4B3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_57_468' x1='65.0671' y1='110.003' x2='140.539' y2='91.9747' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F3F5F4'/%3E%3Cstop offset='0.7063' stop-color='%23E5E5E4'/%3E%3Cstop offset='0.9947' stop-color='%23D4D2D1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_57_468' x1='65.7595' y1='108.871' x2='142.422' y2='91.0005' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_57_468' x1='65.86' y1='109.3' x2='142.527' y2='91.4322' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_57_468' x1='57.3381' y1='74.9694' x2='133.995' y2='57.1002' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_57_468' x1='57.3554' y1='75.0604' x2='134.021' y2='57.1914' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_57_468' x1='54.214' y1='62.6036' x2='130.882' y2='44.7327' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    height: 12rem;
    width: 7.25rem;
    top: 0;
    right: 0;
    pointer-events: none;
    display: block;
    position: absolute;
  }

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='127' height='192' viewBox='0 0 127 192' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-26.3101 136.388C-26.6998 137.902 -25.9849 139.537 -24.7208 140.05L44.5729 167.96C45.837 168.474 47.172 167.654 47.5617 166.14L76.0058 55.1322C76.3954 53.6176 75.6807 51.9837 74.4166 51.4704L5.12271 23.5594C3.85862 23.0461 2.5236 23.8656 2.13392 25.3803L-26.3101 136.388Z' fill='url(%23paint0_linear_57_488)'/%3E%3Cpath d='M-25.5017 135.976C-25.8825 137.473 -25.1808 139.105 -23.9228 139.611L44.4042 167.333C45.6515 167.845 46.9722 167.035 47.353 165.537L75.2035 55.5401C75.5843 54.0427 74.8824 52.4106 73.631 51.9155L5.30424 24.1941C4.05692 23.6819 2.73651 24.4924 2.35566 25.9898L-25.5017 135.976Z' fill='url(%23paint1_linear_57_488)'/%3E%3Cpath d='M21.6386 74.3375C27.3286 77.0511 27.7822 85.0852 27.7822 85.0852L27.7677 85.1083C27.7677 85.1083 31.8193 78.9006 37.7039 80.885C43.5884 82.8694 46.4877 90.9997 43.777 96.8422C41.0662 102.685 33.1571 105.519 28.3588 107.704C23.554 109.877 20.696 113.152 20.696 113.152L20.7 113.135C20.7 113.135 19.869 108.365 16.9552 103.056C14.0415 97.7467 8.91033 89.6192 9.38014 82.8716C9.84994 76.124 15.9486 71.6238 21.6386 74.3375Z' fill='url(%23paint2_linear_57_488)'/%3E%3Cpath d='M19.8528 116.182C19.7203 116.124 19.6152 115.993 19.5799 115.836C19.5646 115.786 18.4941 110.68 15.4247 104.84L14.5211 103.13C10.8207 96.117 6.20641 87.4002 7.33694 81.5872C8.08237 77.746 10.32 74.3525 13.3297 72.4933C15.9813 70.8672 18.8928 70.625 21.5754 71.8977C26.6091 74.2635 28.2285 79.0281 28.705 81.1433C30.068 79.7788 33.5527 77.0895 38.7438 78.8797C41.4984 79.8169 43.7825 82.1706 45.1878 85.4365C46.7927 89.1634 47.0507 93.583 45.9079 97.2525C44.1473 102.835 36.7592 106.389 30.2452 109.505L28.8576 110.176C23.6912 112.673 20.2782 116.087 20.2528 116.116C20.1215 116.206 19.9853 116.239 19.8528 116.182ZM38.5716 79.7436C32.8894 77.7908 29.4134 81.5798 28.7784 82.3534C28.677 82.47 28.5196 82.5154 28.3765 82.4642C28.227 82.402 28.1256 82.2532 28.0945 82.0794C27.9305 80.9796 26.8366 75.3271 21.3177 72.7365C18.8682 71.5963 16.1693 71.791 13.7297 73.2965C10.8937 75.0421 8.7889 78.2277 8.10125 81.8298C7.05091 87.2732 11.5619 95.8137 15.1887 102.677L16.0986 104.398C18.5759 109.131 19.7689 113.313 20.1778 114.951C21.3134 113.922 24.3519 111.34 28.5041 109.332L29.9021 108.654C35.962 105.752 43.5112 102.136 45.1657 96.8791C46.2549 93.4315 46.0037 89.2883 44.49 85.7894C43.2624 82.9231 41.3059 80.8396 38.9836 79.8922C38.8405 79.8411 38.7082 79.7837 38.5716 79.7436Z' fill='url(%23paint3_linear_57_488)'/%3E%3Cpath d='M61.7708 67.9223C62.9849 68.4984 63.0834 70.2096 63.0834 70.2096C63.0834 70.2096 63.9504 68.8916 65.2016 69.314C66.4528 69.7364 67.069 71.4625 66.495 72.7021C65.9211 73.9417 64.239 74.545 63.2119 75.0114C62.1847 75.4779 61.5767 76.1771 61.5767 76.1771C61.5767 76.1771 61.3921 75.1628 60.7871 74.0341C60.165 72.9004 59.0826 71.1743 59.1737 69.738C59.2584 68.2907 60.5503 67.3352 61.7708 67.9223Z' fill='url(%23paint4_linear_57_488)'/%3E%3Cpath d='M61.3876 76.816C61.3534 76.8059 61.334 76.773 61.3317 76.7448C61.3317 76.7448 61.102 75.653 60.4428 74.4077L60.2566 74.0421C59.4655 72.5477 58.4885 70.6879 58.7303 69.4604C58.8901 68.6477 59.3678 67.9194 60.0122 67.5234C60.5717 67.1757 61.1953 67.1302 61.7617 67.3972C62.8369 67.9051 63.1771 68.9197 63.2807 69.3616C63.5722 69.0632 64.3134 68.4941 65.4174 68.8825C66.0004 69.0812 66.4921 69.5823 66.7893 70.2823C67.1277 71.0767 67.184 72.0169 66.9388 72.8044C66.5604 73.9918 64.9962 74.7485 63.6021 75.4089L63.3033 75.5497C62.2042 76.0864 61.4707 76.8127 61.4707 76.8127C61.4495 76.8248 61.4111 76.832 61.3876 76.816ZM65.3718 69.0703C64.1652 68.6518 63.4219 69.4576 63.2806 69.6264C63.2552 69.6555 63.2278 69.6566 63.1936 69.6466C63.1595 69.6366 63.14 69.6035 63.1312 69.5644C63.0953 69.3344 62.8666 68.1239 61.6825 67.5749C61.1567 67.329 60.5883 67.3726 60.0712 67.6962C59.4692 68.0681 59.0208 68.7502 58.8733 69.5116C58.6481 70.6708 59.6097 72.4802 60.3814 73.9415L60.578 74.3012C61.1012 75.3145 61.3638 76.1962 61.4432 76.5488C61.68 76.3257 62.3337 75.7771 63.2142 75.3499L63.5134 75.209C64.8056 74.5918 66.4076 73.8283 66.7695 72.7092C67.0024 71.9729 66.9402 71.0948 66.6277 70.3446C66.3717 69.739 65.9507 69.2861 65.4572 69.0954C65.4231 69.0854 65.3995 69.0693 65.3718 69.0703Z' fill='url(%23paint5_linear_57_488)'/%3E%3Cpath d='M60.4215 63.6786L60.5147 63.3312C60.7343 63.3682 60.9219 63.3501 61.0726 63.2938C61.2234 63.2375 61.3692 63.125 61.5 62.9622C61.6308 62.7994 61.8101 62.5501 62.0163 62.2266L66.8778 54.6008L68.0528 55.1106L68.3766 64.7807C68.3894 65.3332 68.4546 65.782 68.5593 66.1054C68.6535 66.4348 68.8342 66.6711 69.0739 66.8147L68.957 67.1459L66.0833 65.9818L66.183 65.6455C66.4839 65.7247 66.7226 65.7213 66.8946 65.653C67.0772 65.5786 67.2014 65.4049 67.2952 65.1307C67.3388 64.988 67.3696 64.8232 67.398 64.6303C67.4263 64.4374 67.424 64.1442 67.4123 63.7384L67.3954 62.938L64.1284 61.5849L63.5982 62.4169C63.4657 62.6249 63.3478 62.8098 63.2576 62.9937C63.1716 63.1604 63.1026 63.3323 63.0548 63.492C63.0135 63.6628 62.9976 63.8043 63.0306 63.9328C63.057 64.0503 63.1282 64.1719 63.2141 64.2703C63.3172 64.3737 63.4715 64.4921 63.6835 64.6367L63.5839 64.9734L60.4215 63.6786ZM67.2869 56.5775L64.4627 60.9974L67.4133 62.2207L67.2869 56.5775Z' fill='url(%23paint6_linear_57_488)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_57_488' x1='61.786' y1='110.634' x2='-14.6988' y2='91.0404' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CDCCCB'/%3E%3Cstop offset='0.9947' stop-color='%23B6B4B3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_57_488' x1='61.6287' y1='110.003' x2='-13.8427' y2='91.9747' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F3F5F4'/%3E%3Cstop offset='0.7063' stop-color='%23E5E5E4'/%3E%3Cstop offset='0.9947' stop-color='%23D4D2D1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_57_488' x1='60.9363' y1='108.871' x2='-15.726' y2='91.0005' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_57_488' x1='60.8358' y1='109.3' x2='-15.831' y2='91.4322' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_57_488' x1='69.3577' y1='74.9694' x2='-7.2997' y2='57.1002' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_57_488' x1='69.3404' y1='75.0604' x2='-7.32528' y2='57.1913' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_57_488' x1='72.4818' y1='62.6036' x2='-4.18586' y2='44.7327' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EF0A07'/%3E%3Cstop offset='1' stop-color='%23C70000'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    height: 12rem;
    width: 7.25rem;
    left: 0;
    bottom: -10rem;
    pointer-events: none;
    display: block;
    position: absolute;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .right-content-wrapper {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #363636;
      font-family: $font-primary;
      font-size: 3rem;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 1.0625rem;
    }

    p {
      color: #545454;
      font-family: $font-secondary;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 1.5625rem;
    }

    .btn-v2 {
      margin-bottom: 1.5625rem;
    }
  }

  .download-section {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #363636;
      font-family: $font-primary;
      font-size: 1.125rem;
      font-weight: 400;
      margin-right: 0.75rem;
      margin-bottom: 0;
    }

    a {
      margin-right: 1rem;
    }
  }
}

//game-screenshot-wrapper
.game-screenshot-wrapper {
  .row {
    border-top: 1px solid $secondary;
    border-top-style: dashed;
  }

  .title-section {
    margin: -1.125rem auto 2.5rem auto;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle,
        #fff 0%,
        rgba(255, 255, 255, 0.83) 100%);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #363636;
      font-family: $font-primary;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 130%;
    }
  }
}

.game-listing-page {
  .icon {
    position: absolute;

    &.one {
      top: 0;
      left: 0;
    }

    &.two {
      top: 20%;
      left: 0;
    }

    &.three {
      right: 0;
      top: 0;
    }

    &.four {
      right: 0;
      top: 40%;
    }

    &.five {
      right: 0;
      bottom: 10%;
    }

    &.six {
      left: 20%;
      bottom: -2%;
    }

    @media (max-width:767.98px) {
      opacity: .5;
    }
  }
}