//home-banner-wrapper
.home-banner-wrapper {
  padding-top: 6.5rem;
  padding-bottom: 17.875rem;
  .mid-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
      text-align: center;
      font-family: $font-primary;
      font-size: 3rem;
      font-weight: 400;
      line-height: 62.4px;
      margin-bottom: 2rem;
      span {
        color: $primary;
        font-family: $font-primary;
        font-size: 3rem;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
  p {
    color: $white;
    text-align: center;
    font-family: $font-secondary;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25.2px;
    margin-bottom: 3rem;
  }
}

// object-image
.object1-image {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  height: 24.625rem;
  width: 100%;
  left: 0;
  right: 0;
  object-fit: cover;
}

.object2-image {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  height: 11.75rem;
  width: 100%;
  left: 0;
  right: 0;
  object-fit: cover;
}

.object3-image {
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 11.75rem;
  width: 100%;
  left: 0;
  right: 0;
  object-fit: cover;
}

.object4-image {
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

// dragon-img
.dragon-img {
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 100%;
  opacity: 0.4;
  width: 100%;
  left: 0;
  right: 0;
  object-fit: cover;
}

//home-video-section
.home-video-section {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #363636;
    text-align: center;
    font-family: $font-primary;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: -0.96px;
    margin-bottom: 1.5rem;
  }
  .pop-wrapper {
    border: 8px solid $white;
    margin-top: -12rem;
  }
  .bottom-content-wrapper {
    padding: 0 3rem;
  }
}

//feature-game-section
.feature-game-section {
  .object2-image {
    bottom: 5rem;
  }
  .inner-game-list-wrapper {
    border-bottom: 1px solid $primary;
  }
}

//why-choose-section
.why-choose-section {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: -1.28px;
    margin-bottom: 1.5rem;
    span {
      color: $primary;
      font-family: $font-primary;
      font-size: 2rem;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -1.28px;
    }
  }
  p {
    color: $white;
    font-family: $font-secondary;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25.2px;
    margin: 0;
  }
}
