.welcome-banner {
    &.breadcrumb {
        height: 500px;
        overflow: hidden;
    }

    .view-all-sites {
        position: fixed;
        top: 50%;
        left: -90px;
        transform: translateY(-50%);
        z-index: 111;
        transform: rotate(-90deg);

        @media (max-width:1500px) {
            left: -70px;
        }

        @media (max-width:767.98px) {
            top: unset;
            bottom: 0;
            transform: unset;
            transform: translateX(-50%);
            left: 50%;
            padding: 1rem !important;
        }
    }

    .welcome-banner-carousel {
        position: relative;
        z-index: 11;

        .item {
            min-height: 500px;
            position: relative;
            z-index: 11;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 111;
                pointer-events: none;
                background-color: rgba($color: #000000, $alpha: 0.7);
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 111;
                pointer-events: none;
                background-image: url('../img/noise-texture.png');
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 100vh;

                @media (max-width:767.98px) {
                    height: 500px !important;
                }
            }

            .text-content {
                width: 100%;
                position: absolute;
                top: 50%;
                z-index: 1111;
                transform: translateY(-50%);

                .count {
                    color: $white;
                    font-family: $font-primary;
                    font-size: 1.25rem;
                    position: absolute;
                    top: 2.2rem;
                    left: -3rem;
                    transform: rotate(-90deg);
                }

                .content {
                    h1 {
                        margin-bottom: 1rem;
                        color: $white;
                        font-size: 4rem;
                        text-transform: uppercase;

                    }

                    p {
                        color: $white;
                        font-size: 1.125rem;
                    }

                    .btn-wrapper {
                        @media (max-width:450px) {
                            a {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .owl-nav {
            button {
                position: absolute;
                top: 70%;
                cursor: pointer;

                &:hover {
                    background-color: transparent !important;

                    svg {
                        color: $primary;
                    }
                }

                &.owl-next {
                    right: 7rem;
                }

                &.owl-prev {
                    right: 11rem;
                }

                @media (max-width:767.98px) {
                    top: 85%;
                }
            }
        }
    }


}

.home-game-listings {
    overflow: hidden;
    margin-top: -20px;

    .coin-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.banner-content {
    position: relative;

    .banner-coin {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.one {
            left: 0;
        }

        &.two {
            right: 0;
        }

    }

    @media (max-width:767.98px) {
        .w-50 {
            width: 75% !important;
        }
    }
}